<!--
  Lewis Scott
  4/17/20
  filename https://lscott.greenriverdev.com/328/dating/views/home.html
  accessed through https://lscott.greenriverdev.com/328/dating/
  Home page view site
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Business Playbook</title>
    <link href="styles/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <!-- Custom fonts for this theme -->
    <link href="../../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- CSS -->
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!-- Navigation -->
<include href="includes/navBar.html"></include>

<div class="container mt-3">
    <div class="row">
        <div class="col-8 text-center">
            <img src="/playbook/JumpStart/images/Playbook.PNG" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-4 btn-group-vertical">
            <h3>Visit Section</h3>
            <button class="btn btn-primary btn-center shadow-sm">PURPOSE</button>
            <button class="btn btn-primary btn-center">WHAT WE STAND FOR</button>
            <button class="btn btn-primary btn-center">PRODUCTS/SERVICES</button>
            <button class="btn btn-primary btn-center">PROMOTION</button>
            <button class="btn btn-primary btn-center">PROCESSES</button>
            <button class="btn btn-primary btn-center">PEOPLE</button>
            <button class="btn btn-primary btn-center">PLANNING</button>
            <button class="btn btn-primary btn-center">PERSONAL GROWTH</button>
            <button class="btn btn-primary btn-center">OTHERS</button>

        </div>
    </div>

    <br>
    <div class="col-8 text-center">
        <button class="btn btn-primary btn-center shadow-sm">GET STARTED</button>
    </div>
</div>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>