<!--
  Lewis Scott
  10/17/20
  filename https://jumpstart.greenriverdev.com/playbook/JumpStart/views/home.html
  Home page view site
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Business Playbook</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <!-- Custom fonts for this theme -->
    <link href="../../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="images/favicon.png">

    <!-- CSS -->
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="styles/styles.css" rel="stylesheet">
    <include href="includes/header.html"></include>

</head>
<body>

<!-- Navigation -->
<include href="includes/navBar.html"></include>

<div class="container mt-3">
    <div class="row">
        <div class="col-8">
            <img src="/playbook/JumpStart/images/Playbook.PNG" class="img-fluid" alt="Responsive image">
            <div class="text-center ml-4">
                <h5 class="text-left">Strategic planning simplified</h5>
                <ul class="text-left">
                <li class="text-left">Answer a series of simple questions</li>
                <li>Conduct SWOT analysis</li>
                    <ul class="text-left">
                        <li class="text-left">Strengths</li>
                        <li class="text-left">Weaknesses</li>
                        <li class="text-left">Threats</li>
                        <li class="text-left">Opportunities</li>
                    </ul>
                    <li>Identify Strategic Focus and Priorities</li>
                    <li>Create Action plans for business improvements</li>
                </ul>
            </div>
        </div>
        <div class="col-4 btn-group-vertical">
            <h4 class="text-center">Visit Section</h4>
            <button class="btn btn-center shadow-sm mb-1"><a href="section1">PURPOSE</a></button>
            <button class="btn btn-center shadow-sm mb-1"><a href="#">WHAT WE STAND FOR</a></button>
            <button class="btn btn-center shadow-sm mb-1"><a href="#">PRODUCTS/SERVICES</a></button>
            <button class="btn btn-center shadow-sm mb-1"><a href="#">PROMOTION</a></button>
            <button class="btn btn-center shadow-sm mb-1"><a href="#">PROCESSES</a></button>
            <button class="btn btn-center shadow-sm mb-1"><a href="#">PEOPLE</a></button>
            <button class="btn btn-center shadow-sm mb-1"><a href="#">PLANNING</a></button>
            <button class="btn btn-center shadow-sm mb-1"><a href="#">PERSONAL GROWTH</a></button>
            <button class="btn btn-center shadow-sm mb-1"><a href="#">OTHERS</a></button>
        </div>
    </div>

    <br>
    <div class="col-8 text-center">
        <form action="section1" method="get">
            <button class="btn btn-center shadow-sm" type="submit">GET STARTED</button>
        </form>
    </div>
</div>

<!-- footer -->
<include href="includes/footer.html"></include>

<!-- jQuery first, then Popper.js, then Bootstrap JS
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
-->

</body>
</html>