<!doctype html>
<html lang="en">
<head>
    <title>Section 1</title>
    <include href="includes/header.html"></include>
</head>

<body>
    <include href="includes/navBar.html"></include>

<div class="container">
    <h1>Section 1 - The Long View</h1>
    <hr>

    <form action="#" method="post" class="form-horizontal">
        <div class="row">
            <div class="col-8">

                <label><strong>Question 1 -</strong> Do you have a written purpose statement?</label><br>

                <div class="container">
                    <div class="form-check">
                        <input type="radio" id="q1" name="method" class="form-check-input" value="yes">
                        <label class="form-check-label" for="q1" id="q1">Yes</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" id="q1" name="method" class="form-check-input" value="no">
                        <label class="form-check-label" for="q1" id="q1">No</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="a11" name="q11" id="q11">What is your purpose statement?</label>
                    <textarea class="form-control" id="a11" name="q11" rows="3"></textarea>
                </div>

                <div class="form-group">
                    <label for="a12" name="q12" id="q12">Does your team know and understand it?</label>
                    <textarea class="form-control" id="a12" name="a12" rows="3"></textarea>
                </div>

                <div class="form-group">
                    <label for="a13" name="q13" id="q13">Is it used in decision making?</label>
                    <textarea class="form-control" id="a13" name="a13" rows="3"></textarea>
                </div>

                <div class="form-group">
                    <label for="a14" name="q14" id="q14">Are you living it?</label>
                    <textarea class="form-control" id="a14" name="a14" rows="3"></textarea>
                </div>

                <div class="form-group">
                    <label for="a141" name="q141" id="q141">What is your purpose statement?</label>
                    <textarea class="form-control" id="a141" name="a141" rows="3"></textarea>
                </div>
            </div>

            <div class="col-4">
                <div class="container card bg-light rounded text-center">
                    <p><strong>Note:</strong> Information entered is protected by our <a href="">
                        privacy policy</a>. All answers are kept strictly confidential.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Next ></button>
                </div>
            </div>
        </div>
    </form>
</div>

<include href="includes/footer.html"></include>
</body>
</html>