<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!--
  11/27/20
  filename https://jumpstart.greenriverdev.com/playbook/JumpStart/includes/footer.html
  SWOT Strategic Focus and Priorities
  -->

        <!doctype html>
        <html lang="en">
        <head>
            <title>Strategy</title>
            <include href="includes/header.html"></include>
        </head>

<body>
<include href="includes/navBar.html"></include>

<div class="container-fluid">
    <div class="row">
        <div class="container col-4">
            <p><strong>Theme 1 -</strong></p>
            <ul>
                <repeat group="{{ @itemArray }}" value="{{ @item }}">
                    <li>{{ @item }}</li>
                </repeat>
            </ul>
            <label for="theme1Name">Name:</label>
            <input type="text" class="form-control" id="theme1Name" name="theme1Name" value="">
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Strategic Focus</button>
                <div id="myDropdown" class="dropdown-content">
                    <a value="Raise Revenues by Getting More People to Pay">Raise Revenues by Getting More People to Pay</a>
                    <a value="Raise Revenues by Getting More People to Pay More Often">Raise Revenues by Getting More People to Pay More Often</a>
                    <a value="Raise Revenue by Getting More People to Pay More per Transaction">Raise Revenue by Getting More People to Pay More per Transaction</a>
                    <a value="Reduce Variable Cost by Cost Reductions">Reduce Variable Cost by Cost Reductions</a>
                    <a value="Reduce Variable Cost by Process Improvement">Reduce Variable Cost by Process Improvement</a>
                    <a value="Reduce Overhead by Cost Reductions">Reduce Overhead by Cost Reductions</a>
                    <a value="Reduce Overhead by Process Improvements">Reduce Overhead by Process Improvements</a>
                    <a value="Reduce Risk">Reduce Risk</a>
                    <a value="Personal Fulfillment">Personal Fulfillment</a>
                    <a value="Improve Performance of Our People">Improve Performance of Our People</a>
                    <a value="Other">Other</a>
                </div>
            </div>
        </div>

        <div class="container col-4">
            <p><strong>Theme 2 -</strong></p>
            <ul>
                <repeat group="{{ @itemArray2 }}" value="{{ @item }}">
                    <li>{{ @item }}</li>
                </repeat>
            </ul>
            <label for="theme2Name">Name:</label>
            <input type="text" class="form-control" id="theme2Name" name="theme2Name" value="">
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Strategic Focus</button>
                <div id="myDropdown2" class="dropdown-content">
                    <a value="Raise Revenues by Getting More People to Pay">Raise Revenues by Getting More People to Pay</a>
                    <a value="Raise Revenues by Getting More People to Pay More Often">Raise Revenues by Getting More People to Pay More Often</a>
                    <a value="Raise Revenue by Getting More People to Pay More per Transaction">Raise Revenue by Getting More People to Pay More per Transaction</a>
                    <a value="Reduce Variable Cost by Cost Reductions">Reduce Variable Cost by Cost Reductions</a>
                    <a value="Reduce Variable Cost by Process Improvement">Reduce Variable Cost by Process Improvement</a>
                    <a value="Reduce Overhead by Cost Reductions">Reduce Overhead by Cost Reductions</a>
                    <a value="Reduce Overhead by Process Improvements">Reduce Overhead by Process Improvements</a>
                    <a value="Reduce Risk">Reduce Risk</a>
                    <a value="Personal Fulfillment">Personal Fulfillment</a>
                    <a value="Improve Performance of Our People">Improve Performance of Our People</a>
                    <a value="Other">Other</a>
                </div>
            </div>
        </div>

        <div class="container col-4">
            <p><strong>Theme 3 -</strong></p>
            <ul>
                <repeat group="{{ @itemArray3 }}" value="{{ @item }}">
                    <li>{{ @item }}</li>
                </repeat>
            </ul>
            <label for="theme3Name">Name:</label>
            <input type="text" class="form-control" id="theme3Name" name="theme3Name" value="">
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Strategic Focus</button>
                <div id="myDropdown3" class="dropdown-content">
                    <a value="Raise Revenues by Getting More People to Pay">Raise Revenues by Getting More People to Pay</a>
                    <a value="Raise Revenues by Getting More People to Pay More Often">Raise Revenues by Getting More People to Pay More Often</a>
                    <a value="Raise Revenue by Getting More People to Pay More per Transaction">Raise Revenue by Getting More People to Pay More per Transaction</a>
                    <a value="Reduce Variable Cost by Cost Reductions">Reduce Variable Cost by Cost Reductions</a>
                    <a value="Reduce Variable Cost by Process Improvement">Reduce Variable Cost by Process Improvement</a>
                    <a value="Reduce Overhead by Cost Reductions">Reduce Overhead by Cost Reductions</a>
                    <a value="Reduce Overhead by Process Improvements">Reduce Overhead by Process Improvements</a>
                    <a value="Reduce Risk">Reduce Risk</a>
                    <a value="Personal Fulfillment">Personal Fulfillment</a>
                    <a value="Improve Performance of Our People">Improve Performance of Our People</a>
                    <a value="Other">Other</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <hr>
            <div>
            </div>
        </div>

        <div class="col-3">
            <div class="sidebar-item sticky-top">
                <div class="make-me-sticky">
                    <div class="row border rounded bg-light pt-5 mt-2">
                        <h5>Theme List</h5>
                        <ul id="itemList"></ul>

                        <form class="form-group" id="theme" action="#" method="post">
                            <!-- get theme name -->
                            <div class="form-group">
                                <label for="themeName">Theme Name:</label>
                                <input type="text" class="form-control" id="themeName" name="themeName"
                                       value="<check if='{{ !empty(@selectedName) }}'>{{ @selectedName }}</check>">
                                <span class="err" id="errName"></span>
                                <span>
                                <check if="{{ isset(@errors['name']) }}">
                                    <p>{{ @errors['name'] }}</p>
                                </check>
                            </span>
                                <br>
                                <label for="theme">Choose a theme</label>
                                <select name="theme">
                                    <option value="theme1">Theme1</option>
                                    <option value="theme2">Theme2</option>
                                    <option value="theme3">Theme3</option>
                                </select>

                            </div>
                            <button id="btnSubmit" class="btn-primary rounded">Submit Theme</button>

                            <!-- theme items hidden form field-->
                            <div class="form-group hidden">
                                <input type="text" class="form-control hidden" id="items" name="items">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<include href="includes/footer.html"></include>

<script src="js/themes.js"></script>
</body>
</html>