<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tactical tasks</title>
    <include href="includes/header.html"></include>
</head>
<body>

<include href="includes/navBar.html"></include>


<div class="container">
    <h1>Tactical tasks</h1>

    <div class="row">
        <div class="container col-4">
            <p><strong>Strategy 1 -</strong></p>
            <ul id="strategyList1">
                <repeat group="{{ @strategyArray }}" value="{{ @item }}">
                    <li>{{ @item }}</li>
                </repeat>
            </ul>
            <table class="table table-bordered" id="table1">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Task</th>
                    <th scope="col">Quarter</th>
                    <th scope="col">Date</th>
                    <th class="hidden"></th>
                </tr>
                </thead>
                <tbody>
                    <check if="{{ isset(@results) }}" >
                        <repeat group="{{ @results }}" value="{{ @row }}">
                            <tr>
                                <td><check if="{{ isset(@row) }}" >
                                    {{ $row['task'] }} </check></td>
                                <td><check if="{{ isset(@row) }}" >
                                    {{ $row['quarter'] }}</check> </td>
                                <td><check if="{{ isset(@row) }}">
                                    {{ $row['date'] }}</check> </td>
                                <td class="hidden"><check if="{{ isset(@row) }}">
                                    {{ $row['tacticID'] }}</check></td>
                            </tr>
                        </repeat>
                    </check>
                </tbody>
            </table>
            <form action="#" method="post" class="form-horizontal" id="removeTask">
                <div class="form-group hidden">
                    <input type="text" class="form-control" id="tacticId" name="tacticId">
                </div>
                <button type="submit" class="btn">Delete selected Task</button>
            </form>


            <div class="container">
                <form action="#" method="post" class="form-horizontal" id="tacticalTask1">
                    <div class="form-group">
                        <label for="task1">Task</label>
                        <input type="text" class="form-control" id="task1" name="task1">
                    </div>
                    <div class="form-group">
                        <label for="quarter1">Quarter</label>
                        <select class="form-control"id="quarter1" name="quarter1">
                            <option>Q1</option>
                            <option>Q2</option>
                            <option>Q3</option>
                            <option>Q4</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="date1">Date</label>
                        <input type="date" class="form-control" id="date1" name="date1">
                    </div>
                    <button type="submit" class="btn">Add Task</button>
                </form>
            </div>
        </div>

        <div class="container col-4">
            <p><strong>Strategy 2 -</strong></p>
            <ul id="strategyList2">
                <repeat group="{{ @strategyArray2 }}" value="{{ @item }}">
                    <li>{{ @item }}</li>
                </repeat>
            </ul>
        </div>

        <div class="container col-4">
            <p><strong>Strategy 3 -</strong></p>
            <ul id="strategyList3">
                <repeat group="{{ @strategyArray3 }}" value="{{ @item }}">
                    <li>{{ @item }}</li>
                </repeat>
            </ul>
        </div>
    </div>

    <div class="row">



        <div class="container col-4">

        </div>

        <div class="container col-4">

        </div>


    </div>
    <!-- tactical items hidden form field
    <form action="#" method="post" class="form-horizontal" id="tacticalTasks">
        <div class="form-group hidden">
            <input type="text" class="form-control" id="items1" name="items1">
        </div>
        <div class="form-group hidden">
            <input type="text" class="form-control" id="items2" name="items2">
        </div>
        <div class="form-group hidden">
            <input type="text" class="form-control" id="items3" name="items3">
        </div>
        <div class="text-right">
            <button type="submit" class="btn">Save Tasks</button>
        </div>
    </form>
    -->
</div>

<include href="includes/footer.html"></include>


<!-- add data table scripts -->
<script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"/>
<script>
    $('.table').DataTable({
        select: {
            items: 'row'
        },
        "pageLength": 5
    } );
</script>
<script src="js/tactics.js"></script>

</body>
</html>